Code/FDZ-Transport-Simulation/.idea/workspace.xml
Code/FDZ-Transport-Simulation/.idea/modules/FDZ-Transport-Simulation_test.iml
Code/FDZ-Transport-Simulation/.idea/modules/FDZ-Transport-Simulation_test.iml
Code/FDZ-Transport-Simulation/build/classes/test/WrongWorkFlowTests.class
Code/FDZ-Transport-Simulation/build/reports/tests/test/classes/CommandParseTests.html
Code/FDZ-Transport-Simulation/.gradle/3.5-rc-2/taskHistory/fileHashes.bin
Code/FDZ-Transport-Simulation/.gradle/3.5-rc-2/taskHistory/taskHistory.bin
Code/FDZ-Transport-Simulation/build/classes/main/Model/Main.class
Code/FDZ-Transport-Simulation/build/test-results/test/TEST-CommandTests.xml
Code/FDZ-Transport-Simulation/.gradle/3.5-rc-2/taskHistory/fileHashes.bin
Code/FDZ-Transport-Simulation/.gradle/3.5-rc-2/taskHistory/taskHistory.lock
Code/FDZ-Transport-Simulation/build/classes/main/Model/Main.class
Code/FDZ-Transport-Simulation/build/reports/tests/test/index.html
Code/FDZ-Transport-Simulation/build/test-results/test/TEST-CommandTests.xml
Code/FDZ-Transport-Simulation/out/production/classes/Model/Main.class
Code/FDZ-Transport-Simulation/src/main/java/Model/CommandInterpreter.java
Code/CodePrototypen/FDZ-Transport-Simulation-UI-Test/.idea/
Code/FDZ-Transport-Simulation/.idea/workspace.xml
Code/FDZ-Transport-Simulation/.idea/workspace.xml

Code/FDZ-Transport-Simulation/.idea/
Code/FDZ-Transport-Simulation/out/
Code/FDZ-Transport-Simulation/.gradle/
Code/FDZ-Transport-Simulation/build/
Code/FDZ-Transport-Simulation-GUI/.idea/
Code/FDZ-Transport-Simulation-GUI/out/
Code/FDZ-Transport-Simulation-GUI/.gradle/
Code/FDZ-Transport-Simulation-GUI/build/
Dokumente/.~lock.Pflichtenheft2.0.odt#

Code/network/out/
Code/network/.idea
Code/network/network.iml
