#root {
	-fx-font: 20 "Times New Roman";

}

.button{


}
.optionButton{
	-fx-background-image: url("images/optionsCog.png");
	-fx-background-position: center;
	-fx-background-size: stretch;
	-fx-background-repeat: no-repeat;
	-fx-background-color: transparent;
	-fx-pref-width: 50;
	-fx-pref-height: 50;
}

.optionMenu{
	-fx-border-color: black;
	-fx-background-color: #e9e9e9;
}

.stationOptionButton{
	-fx-background-image: url("images/optionsCog.png");
	-fx-background-position: center;
	-fx-background-size: 30px, 30px;
	-fx-background-repeat: no-repeat;
	-fx-background-color: transparent;

}

.stationPane{
	-fx-background-color: #A9C3DD;
	-fx-border-color: #909090;
	-fx-border-radius: 10;
	-fx-border-width: 2;
	-fx-background-radius: 10;
}

.stationOptions{
	-fx-background-color: #EBEBEB;
	-fx-border-color: #A9C3DD;
	-fx-border-width: 2;
}

.red{
	-fx-background-color: #FF2929;
	-fx-fill: #FF2929;
}

.yellow{
	-fx-background-color: #D5E700;
	-fx-fill: #D5E700;
}

.green{
	-fx-background-color: #29FF59;
	-fx-fill: #29FF59;
}

.blue{
	-fx-background-color: blue;
	-fx-fill: blue;
}
.lightRed{
	-fx-background-color: lightcoral;
	-fx-fill: lightcoral;
}

.connectionPane{
	-fx-background-color: #EBEBEB;
	-fx-border-color: #A9C3DD;
	-fx-border-width: 2;
}

.loggingPane{
	-fx-background-color: #EBEBEB;
	-fx-border-color: #A9C3DD;
	-fx-border-width: 2;
}

.messagePane{
	-fx-background-color: #EBEBEB;
	-fx-border-color: #A9C3DD;
	-fx-border-width: 2;

}

.detailsLabel{
	-fx-font-size: 25;
	-fx-font-weight: bold;
}
.messageLabel{
	-fx-font-size: 18;
}

.ipField{

	-fx-font-size: 15;
}

.disconnectedIpPane{
	-fx-background-color: #EBEBEB;
	-fx-border-color: #A9C3DD;
	-fx-border-width: 2;
}


.redBorder{
	-fx-border-color: red;
}