.root {
	-fx-font: 20 "Times New Roman";
}

.button{


}
.optionButton{
	-fx-background-image: url("images/optionsCog.png");
	-fx-background-position: center;
	-fx-background-size: stretch;
	-fx-background-repeat: no-repeat;
	-fx-background-color: transparent;
	-fx-pref-width: 50;
	-fx-pref-height: 50;
}

.optionMenu{
	-fx-border-color: black;
	-fx-background-color: #e9e9e9;
}